.body-popup {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: #fff;
  border-radius: 20px 20px 0 0;
  flex-grow: 1;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 29px rgba(0, 0, 0, 0.1019607843),
    0 0 44px rgba(0, 0, 0, 0.0509803922), 0 0 6px rgba(0, 0, 0, 0.0509803922) !important;
}

.progress-audio {
  width: 89%;
  border-radius: 6px;
}
