header{
    min-height: 52px;
}

header img {
  height: 2.5em;
  margin-right: 20px;
}

.flex-header {
  display: flex;
  align-items: center;
  flex-direction:column;
  position: relative;
}

.flex-logo {
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.flex-logo > h1 {
  font-size: 30px;
  color: #e088dc;
  font-style:oblique;
  background: -webkit-linear-gradient(135deg, #7b2df4, #f626d1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* stereo thumb guard settle exotic plug answer remind nice kind delay govern */