.top-container {
    align-items: flex-start !important;
    display: flex !important ;
  }
  
  .Header_Modal {
    display: flex !important ;
    justify-content: center !important ;
    align-items: center !important ;
    padding: 16px !important ;
    flex: 1 !important ;
  }
  
  .icon-clear {
    align-self: flex-start !important ;
    margin-inline-end: 4px !important ;
    margin-top: 4px !important ;
    cursor: pointer !important ;
  }
  
  .icon-clear:hover {
    color: #7b1f8b !important ;
  }
  
  .Header_Modal > img {
    height: 50px !important ;
    margin-right: 20px !important ;
  }
  .Header_Modal_Title {
    font-size: 23px;
    font-style: italic !important ;
    color: #e088dc !important ;
    font-style: oblique !important ;
    background: -webkit-linear-gradient(135deg, #7b2df4, #f626d1) !important ;
    -webkit-background-clip: text !important ;
    -webkit-text-fill-color: transparent !important ;
  }
  
  .Main_Modal_info {
    border-top: 1px solid #e6e6e6 !important ;
    background-color: #f7f7f7 !important ;
    padding: 10px !important ;
  }
  
  #counter-panel {
    margin-top: 8px !important ;
    padding-bottom: 0 !important ;
    padding-top: 8px !important ;
  }
  
  .card {
    margin-top: 8px !important ;
    padding: 16px !important ;
    background-color: #fff !important ;
    border-width: 1px !important ;
    border-style: solid !important ;
    border-color: #e6e6e6 !important ;
    border-radius: 6px !important ;
    box-shadow: 0 2px 4px 0 hsla(0, 0%, 84%, 0.5) !important ;
  }
  
  .stats {
    display: flex !important ;
    flex-direction: row !important ;
    justify-content: center !important ;
    padding-bottom: 16px !important ;
    padding-top: 10px !important ;
  }
  
  .share {
    display: flex !important ;
    align-items: center !important ;
    justify-content: space-around ;
    padding-bottom: 15px !important ;
    margin-top: 15px !important ;
  }

